// header
.my-light-gray-bg{
    background-color: #F8F9FC;
}

.main-logo{
    height: 25px;
}

#active-link-header{
    color: #2F55D4;
}

// main
.my-blue-text{
    color: #2F55D4;
}

.my-alice-blue-bg{
    background-color: #2F55D41A;
}

.my-blue-bg{
    background-color: #2F55D4;
}